.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--dark-bg);
    z-index: 1000;
}

.nav-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    color: var(--primary-teal);
    font-size: 1.5rem;
    font-weight: 600;
}

/* Nav Links */
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: var(--text-light);
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--primary-teal);
}

/* Contact Button */
.contact-btn {
    border: 1px solid var(--primary-teal);
    padding: 0.4rem 1rem;
    border-radius: 20px;
}

.contact-btn:hover {
    background: var(--primary-teal);
    color: #000;
}

/* Hamburger */
.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* Hamburger */
️  .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1100;
}

.menu-icon span {
    height: 3px;
    width: 25px;
    background: var(--text-light);
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* X icon animation */
.menu-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open span:nth-child(2) {
    opacity: 0;
}

.menu-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* Mobile View */
@media (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        background: var(--dark-grey);
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 2rem 0;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }
}